body {
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

#home-text {
  color: rgb(197, 134, 209);
  font-family: cursive;
  text-decoration: underline;
  transition: transform 0.6s ease, color 0.6s ease;
  transform-origin: center center; 
  display: inline-block;
  text-align: center;
}

#home-text:hover {
  color: rgb(255, 72, 0);
  transform: scale(1.5), translate(400px 400px);
}
