#menu {
    width: 99%;
    height: 40px;
    top: 0px;
    position: fixed;
    background-color: rgba(0, 0, 255, 0.521);
}
#menu  

#canseeme {
    visibility: visible;

}
#menus {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.308);
}

#blastoff {
    width: 60px;
    height: 50px;
}