@keyframes bigify {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(40.2);
    }

}
body {
    margin: center;
    padding: center;
    background-color: lightgreen;
    height: 2500px;
}

#welcome{
    color: rgb(201, 10, 10);
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 97%;
    height: 50px;
    z-index: 4000;
    background-color: rgb(96, 228, 107);
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 50%;
    width: 99%;
    background-color: rgb(89, 206, 73);
    width: 100%;
}

#menu li {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 0;
    height: 20px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(34, 139, 34);
    text-decoration: none;
}

#menu li:hover {
    width: 155px;
    height: 25px;
    background-color: rgb(255, 0, 191);
    animation: bigify 0.5s ease-in;
}

#menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(129, 211, 129);
    text-align: center;
}
#menu a:hover {
    font-size: 23px;
    color: rgb(13, 255, 5);
    animation: bigify 0.5s ease-out;
}