@keyframes bigify {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(40.2);
    }

}
body {
    padding: center;
    height: 2500px;
    width: 1080px;
    background-color: rgb(138, 71, 71);
    background-image: url("../images/fire.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#Welcome{
    display: flex;
    justify-content: center;
    background-image: url('../images/fire.jpg');
    background-size: 26%;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(201, 10, 10);
    top: 200px;
    left: 50%;
    transform: translateX(50%);
    padding: 20px;
    margin-top: 200px;
}
#menu {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 10px;
    transform: translateY(-50%);
    width: 97%;
    height: 50px;
    z-index: 4000;
    background-color: rgba(96, 228, 107, 0.753);
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 50%;
    width: 99%;
    background-color: rgb(89, 206, 73);
    width: 100%;
}

#menu li {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 0;
    height: 20px;
    width: 150px;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(34, 139, 34);
    text-decoration: none;
}

#menu li:hover {
    width: 155px;
    height: 25px;
    background-color: rgb(255, 0, 191);
    animation: bigify 0.5s ease-in;
}

#menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(129, 211, 129);
    text-align: center;
}
#menu a:hover {
    font-size: 23px;
    color: rgb(13, 255, 5);
    animation: bigify 0.5s ease-out;
}
footer {
    width: 100%;
    left: 0%;
    height: 200px;
    position: absolute;
    top: 300%;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.596);
}