body {
    background-color: lightgreen;
}

#welcome{
    color: rgb(201, 10, 10);
}

#menu ul {
    padding: 20px;
    background-color: rgb(42, 168, 42);
    width: 100%;
}

#menu li {
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    margin: 0;
    height: 20px;
    width: 150px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(34, 139, 34);
    text-decoration: none;
}

#menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(129, 211, 129)
}